// Configuration
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "variables";
@import "variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";

// Bootstrap main file

@import "../../node_modules/bootstrap/scss/bootstrap";

// Color variables

$secondary-color: #5c5c5c;
$light-color: #f4f6f2;
$main-color: #35567d;

.main-color {
  color: $main-color;
}

// Color classes

//Font variables

$custom-fs-0-875rem: 0.875rem;
$custom-fs-1-125rem: 1.125rem;
$custom-fs-1-5rem: 1.5rem;
$custom-fs-1-875: 1.875rem;
$custom-fs-2-25: 2.25rem;

// Customs font sizes

.fs-1-125rem {
  font-size: $custom-fs-1-125rem;
}

.fs-1-875rem {
  font-size: $custom-fs-1-875;
}

// Customs font sizes with breakpoints

.fs-0-875rem-lg-1-125rem {
  font-size: $custom-fs-0-875rem;

  @include media-breakpoint-up("lg") {
    font-size: $custom-fs-1-125rem;
  }
}

.fs-1-5rem-lg-2-25rem {
  font-size: $custom-fs-1-5rem;

  @include media-breakpoint-up("lg") {
    font-size: $custom-fs-2-25;
  }
}

// My custom styles

html * {
  color: $secondary-color;
  font-family: Inter;
}

.banner {
  height: 600px;
}

.banner-frontpage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-height: 600px;
}

// Carousel

.carousel-container {
  overflow: hidden;
}

.carousel img {
  height: 300px;
  flex: 0 0 auto;
}

.carousel {
  overflow-x: auto;
  scroll-snap-type: x-mandatory;
  -webkit-overflow-scrolling: touch;
}

.carousel-arrow img {
  height: 40px;
}

// Buttons

.button-white-outline {
  background: none;
  color: #fff;
  border: 2px solid #fff;
  text-decoration: none;
  padding: 0.5rem 2rem;
  display: inline-block;
  border-radius: 25px;
}

.button-white-outline:hover {
  background: rgba(41, 41, 41, 0.7);
  transition: 0.2s ease-out;
}

.button-blue {
  background: $main-color;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 2rem;
  display: inline-block;
  border-radius: 25px;
}

// Frontpage cards

.frontpage-cards {
  height: 350px;
  width: 350px;
}

.card-image {
  opacity: 0.6;
}

.frontpage-cards:hover .card-image {
  opacity: 0.3;
  transition: opacity 0.2s ease-out;
}

// Utility classes

.height-20px {
  height: 20px;
}

.border-radius-none {
  border-radius: 0;
}

.border-none {
  border: none;
}

@media screen and (min-width: 768px) {
  .carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .frontpage-cards {
    height: 418px;
    width: 418px;
  }

  // Alternating tiles

  .alternating-tiles .row:nth-of-type(even) {
    flex-direction: row-reverse;
  }
}
