// Configuration
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "variables";
@import "variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";

// Bootstrap main file

@import "../../node_modules/bootstrap/scss/bootstrap";

// Color variables

$secondary-color: #5c5c5c;
$light-color: #f4f6f2;
$main-color: #35567d;

.main-color {
  color: $main-color;
}

// Color classes

//Font variables

$custom-fs-0-875rem: 0.875rem;
$custom-fs-1-125rem: 1.125rem;
$custom-fs-1-5rem: 1.5rem;
$custom-fs-1-875: 1.875rem;
$custom-fs-2-25: 2.25rem;

// Customs font sizes

.fs-1-125rem {
  font-size: $custom-fs-1-125rem;
}

.fs-1-875rem {
  font-size: $custom-fs-1-875;
}

// Customs font sizes with breakpoints

.fs-0-875rem-lg-1-125rem {
  font-size: $custom-fs-0-875rem;

  @include media-breakpoint-up("lg") {
    font-size: $custom-fs-1-125rem;
  }
}

.fs-1-5rem-lg-2-25rem {
  font-size: $custom-fs-1-5rem;

  @include media-breakpoint-up("lg") {
    font-size: $custom-fs-2-25;
  }
}

// My custom styles

html * {
  color: $secondary-color;
  font-family: Inter;
}

.banner {
  height: 600px;
}

.banner-frontpage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-height: 600px;
}

// Utility classes

.height-20px {
  height: 20px;
}
